@font-face {
    font-family: Disco;
    src: url(../fonts/DISCO.ttf);
}

body {
  font-family: Disco;
}

/* NAVBAR */

.navbar-inverse {
    background-color: #fbfbfb !important;
    background-image: none;
    border-color: transparent;
}

.navbar-brand {
  padding: 15px 15px;
  font-size: 2rem;
}
 
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: none;
}

.navbar-default {
  box-shadow: none;
}

li {
  font-size: 1em;
} 

/* JUMBOTRON */

.head {
    padding: 30px 15px;
    margin-bottom: 30px;
    color: inherit;
    background-color: transparent;
}

.banner {
    padding: 15px;
    margin: 0 auto;
    color: inherit;
    background-color: #ebebeb;
}
/*
.af {
  max-width: 50%;
  margin-top: -50px;
}*/

.curate {
  text-align: center;
  font-size: 4em;
}

.info {
  text-align: center;
  font-size: 1.2em;
  margin-top: auto;
  padding-top: 10px;
}

.gallery {
  padding: 15px;
  margin: 0 auto;
}

@media (max-width: 1300px) {
    .title {
        display: none !important;
    }
}



.foot {
  text-align: center;
  font-size: 1em;
}

.photo {
  margin-top: 25px;
}

.line {
  border-right: 1px solid rgba(177, 176, 176, 0.15);
}

