@font-face {
    font-family: Disco;
    src: url(../fonts/DISCO.ttf);
}

body {
  font-family: Disco;
}

/* NAVBAR */

.navbar-inverse {
    background-color: #fbfbfb !important;
    background-image: none;
    border-color: transparent;
}

.navbar-brand {
  padding: 15px 15px;
  font-size: 2rem;
}
 
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: none;
}

.navbar-default {
  box-shadow: none;
}

li {
  font-size: 1em;
} 

/* JUMBOTRON */

.head {
    padding: 30px 15px;
    margin-bottom: 30px;
    color: inherit;
    background-color: transparent;
}

.banner {
    padding: 15px;
    margin: 0 auto;
    color: inherit;
    background-color: #ebebeb;
}
/*
.af {
  max-width: 50%;
  margin-top: -50px;
}*/

.curate {
  text-align: center;
  font-size: 4em;
}

.info {
  text-align: center;
  font-size: 1.2em;
  margin-top: auto;
  padding-top: 10px;
}

.gallery {
  padding: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) and (max-width: 1300px){
    .title {
        display: none !important;
    }
}



.foot {
  text-align: center;
  font-size: 0.8em;
  margin-top: 80px;
}

.photo {
  margin-top: 25px;
}

.line {
  border-right: 1px solid rgba(177, 176, 176, 0.15);
}

.curateimg {
  max-width: 35%;
  margin: 0 auto;
}


/* MODALs */

.imgsize {
    max-width: 187.5% !important;
    margin-left: -65px;
}

.modal-title {
  text-align: center;
}

.modal-line {
  width: 595px;
  margin-left: -65px;
}

.modal-text {
  font-size: 1.1em;
  text-align: end;
}

.modal-info {
  margin-top: -15px;
}

.links {
  text-decoration: none;
  color: #777;
}

.links:hover {
  text-decoration: none;
  color: #777;
}

.modal-open .modal {
  overflow-x: none; 
  overflow-y: hidden; 
}

.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    margin-top: -19px;
    height: 680px;
}

.about {
  text-align: center;
}

.ab {
  margin-top: 300px;
}