@font-face {
    font-family: Disco;
    src: url(../fonts/DISCO.ttf);
}

body {
  font-family: Disco;
}

/* NAVBAR */

.navbar-inverse {
    background-color: #fbfbfb !important;
    background-image: none;
    border-color: transparent;
}

.navbar-brand {
  padding: 15px 15px;
  font-size: 2rem;
}
 
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: none;
}

.navbar-default {
  box-shadow: none;
}

li {
  font-size: 1em;
} 

/* JUMBOTRON */

.head {
    padding: 30px 15px;
    margin-bottom: 30px;
    color: inherit;
    background-color: transparent;
}

.banner {
    padding: 15px;
    margin: 0 auto;
    color: inherit;
    background-color: #ebebeb;
}
/*
.af {
  max-width: 50%;
  margin-top: -50px;
}*/

.curate {
  text-align: center;
  font-size: 4em;
}

.info {
  text-align: center;
  font-size: 1.2em;
  margin-top: auto;
  padding-top: 10px;
}

.gallery {
  padding: 15px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) and (max-width: 1300px){
    .title {
        display: none !important;
    }
}



.foot {
  text-align: center;
  font-size: 0.8em;
  margin-top: 80px;
}

.photo {
  margin-top: 25px;
}

.line {
  border-right: 1px solid rgba(177, 176, 176, 0.15);
}

.curateimg {
  max-width: 35%;
  margin: 0 auto;
}


/* MODALs */

.imgsize {
    max-width: 187.5% !important;
    margin-left: -65px;
}

.modal-title {
  text-align: center;
}

.modal-line {
  width: 595px;
  margin-left: -65px;
}

.modal-text {
  font-size: 1.1em;
  text-align: end;
}

.modal-info {
  margin-top: -15px;
}

.links {
  text-decoration: none;
  color: #777;
}

.links:hover {
  text-decoration: none;
  color: #777;
}

.modal-open .modal {
  overflow-x: none; 
  overflow-y: hidden; 
}

.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    margin-top: -19px;
    height: 680px;
}

.about {
  text-align: center;
}

.ab {
  margin-top: 300px;
}


/* CONTACT */


#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Disco", Helvetica, Arial, sans-serif; }

#contact {
    background: transparent;
    padding: 25px;
    margin: 50px 0;
    max-width: 50%;
    margin-left: 275px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#contact h3 {
  color: #777;
  display: block;
  font-size: 3em;
  text-align: center;
  font-family: Disco;
}

#contact h4 {
  margin:5px 0 15px;
  display:block;
  font-size:13px;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
  width:100%;
  border:1px solid #CCC;
  background:#FFF;
  margin:0 0 5px;
  padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
  -webkit-transition:border-color 0.3s ease-in-out;
  -moz-transition:border-color 0.3s ease-in-out;
  transition:border-color 0.3s ease-in-out;
  border:1px solid #AAA;
}

#contact textarea {
  height:100px;
  max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: transparent;
    border: 1px solid #ccc;
    color: #777;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

#contact button[type="submit"]:hover {
  background:transparent;
  -webkit-transition:background 0.3s ease-in-out;
  -moz-transition:background 0.3s ease-in-out;
  transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
  outline:0;
  border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}