/* NAVBAR */

.navbar-inverse {
    background-color: #fbfbfb !important;
    background-image: none;
    border-color: transparent;
}

.navbar-brand {
  padding: 15px 15px;
  font-size: 2rem;
}
 
li {
  font-size: 1em;
} 

/* MODALS */

.imgsize {
    max-width: 105.3% !important;
    margin-left: -15px;
}

.links {
  text-decoration: none;
  color: #777;
}

.modal-content {
    position: relative;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 0px;
    outline: 0;
    -webkit-box-shadow: 0 3px 9px rgba(0,0,0,.5);
    box-shadow: 0 3px 9px rgba(0,0,0,.5);
    margin-top: 159px;
  }

  .modal-line {
    width: 598px;
    margin-left: -15px;
}

.modal-info {
     margin-top: none; 
}

/* CONTACT */


#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] { font:400 12px/16px "Disco", Helvetica, Arial, sans-serif; }

#contact {
    background: transparent;
    padding: 25px;
    margin: 50px 0;
    max-width: 75%;
    margin-left: 100px;
}

#contact h3 {
  color: #777;
  display: block;
  font-size: 3em;
  text-align: center;
  font-family: Disco;
}

#contact h4 {
  margin:5px 0 15px;
  display:block;
  font-size:13px;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
  width:100%;
  border:1px solid #CCC;
  background:#FFF;
  margin:0 0 5px;
  padding:10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
  -webkit-transition:border-color 0.3s ease-in-out;
  -moz-transition:border-color 0.3s ease-in-out;
  transition:border-color 0.3s ease-in-out;
  border:1px solid #AAA;
}

#contact textarea {
  height:100px;
  max-width:100%;
  resize:none;
}

#contact button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: transparent;
    border: 1px solid #ccc;
    color: #777;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
}

#contact button[type="submit"]:hover {
  background:transparent;
  -webkit-transition:background 0.3s ease-in-out;
  -moz-transition:background 0.3s ease-in-out;
  transition:background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active { box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5); }

#contact input:focus, #contact textarea:focus {
  outline:0;
  border:1px solid #999;
}
::-webkit-input-placeholder {
 color:#888;
}
:-moz-placeholder {
 color:#888;
}
::-moz-placeholder {
 color:#888;
}
:-ms-input-placeholder {
 color:#888;
}

.foot {
    text-align: center;
    font-size: 0.8em;
    margin-top: 385px;
}

.about {
    text-align: center;
    font-size: 1.2em;
    line-height: inherit;
}

.ab {
    margin-top: 650px;
}

.banner {
  display: none;
}

.jumbotron {
  margin-bottom: 0px;
}

.title {
    padding: 5px;
    color: inherit;
    background-color: #ebebeb;
    border-radius: 0px !important;
}

.headings {
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin-right: auto;
    margin-left: auto;
}

.sub {
  margin-top: 30px;
}

.head {
    padding: 30px 15px 30px;
    color: inherit;
    background-color: transparent;
}

.info {
    text-align: center;
    font-size: 1.2em;
    margin-top: auto;
    padding-top: 10px;
}

@media screen and (max-width: 1300px) and (min-width: 768px) {
  .title {
     display:  !important; 
}
}

